<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roleplay.marco.ddevents">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dnd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dnd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RollActivity"></activity>
        <activity android:name=".DungeonActivity"></activity>
        <activity android:name=".RoomActivity"></activity>
        <activity android:name=".DescriptionActivity"></activity>
        <activity android:name=".EventActivity"></activity>
    </application>

</manifest>